astroid==2.15.5
bcrypt==4.0.1
cffi==1.15.1
cfgv==3.3.1
click==8.1.3
cryptography==41.0.1
dill==0.3.6
distlib==0.3.6
exceptiongroup==1.1.1
filelock==3.12.2
Flask==2.0.2
greenlet==2.0.2
identify==2.5.24
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
mysql==0.0.3
mysqlclient==2.1.1
nodeenv==1.8.0
packaging==23.1
platformdirs==3.8.0
pluggy==1.2.0
pre-commit==3.3.3
pycparser==2.21
pylint==2.17.4
PyMySQL==1.0.3
pytest==7.4.0
PyYAML==6.0
SQLAlchemy==1.4.25
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.6.3
virtualenv==20.23.1
Werkzeug==2.3.6
wrapt==1.15.0
